@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-charcoal font-body antialiased;
}

h1, h2, h3, h4 {
  @apply font-display tracking-tight text-navy;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 900px) {
  body {
    padding-bottom: 70px;
  }
}
